.lista-alunos {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      margin-bottom: 5px;
      display: flex;
      gap: 10px;
      width: 90%;
      justify-content: flex-start;

      span:last-child {
      }
    }
  }
}
